table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 90%;
    margin-right: 10px;
  }
  
  td, th {
    width: 25%;
  }
  
  .btn_edit{
    cursor: pointer;
    color: #3B5998;
  }
  
  .btn_delete{
    cursor: pointer;
    color: #D11A2A;
    margin-left: 30px;
  }